<app-multi-filtro [campos]="campos" [entidades]="allUsers" (filtrado)="filtrado($event)"></app-multi-filtro>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Usuarios
                    <i class="pull-right fa fa-user-plus" [routerLink]="['/configurations/users/create']"></i>
                </h4>
            </div>
            <div class="table-responsive">
                <table class="table table-hover" [mfData]="users" #mf="mfDataTable" [mfRowsOnPage]="5">
                    <thead class="thead-modify">
                        <tr>
                            <th style="width: 33%">
                                <mfDefaultSorter by="name">Nombre</mfDefaultSorter>
                            </th>
                            <th style="width: 33%">
                                <mfDefaultSorter by="surname">Apellidos</mfDefaultSorter>
                            </th>
                            <th style="width: 33%">
                                <mfDefaultSorter by="username">Nombre de usuario</mfDefaultSorter>
                            </th>
                            <th style="width: 33%">
                                <mfDefaultSorter by="email">Email</mfDefaultSorter>
                            </th>
                            <th style="width: 33%">
                                <mfDefaultSorter by="state">Estado</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let user of mf.data' class="{{user.class}}" 
                        [routerLink]="['/configurations/users/edit', user._id]">
                            <td>{{user.name}}</td>
                            <td>{{user.surname}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.state}} Activo</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan='5'>
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>