<div class="card-body">
    <form>
        <div class="form-group">
            <label for="email">Email</label>
            <div class="input-group">
                <input id="email" class="form-control" placeholder="Ingresa tu correo">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" disabled>
                        <i class='fa fa-user-circle'></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>