<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Actualizar perfil</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="dateOfBirth">Date of birth</label>
                <div class="input-group">
                    <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                        #dp="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"><i class='fa fa-user'></i></button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="name">Nombre</label>
                <div class="input-group">
                    <input id="name" class="form-control" placeholder="Nombre completo">
                </div>
            </div>
            <div class="form-group">
                <label for="surname">Apellido</label>
                <div class="input-group">
                    <input id="surname" class="form-control" placeholder="Apellidos">
                </div>
            </div>
            <div class="form-group">
                <label for="username">Nombre de usuario</label>
                <div class="input-group">
                    <input id="username" class="form-control" placeholder="campo deshabilitado">
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <div class="input-group">
                    <input id="email" class="form-control" placeholder="Ingresa tu correo">
                </div>
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <div class="input-group">
                    <input type='password 'id="password" class="form-control" placeholder="Ocultar contraseña con asteriscos">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>
<div class='wrapper'>
    <div class='sidebar-wrapper'>
        <div class='profile'>
            <div style='font-size:32px;'>
                <i class='imgProfile fa fa-user fa-5x' (click)="open(content)"></i>
            </div>
            <span class='textProfile'>
                Nombre de usuario
            </span>
        </div>
        <ul class='sidebar-nav'>
            <li [routerLinkActive]="['active']" [routerLink]="['/permisos']"><a>Account</a></li>
            <li [routerLinkActive]="['active']" [routerLink]="['/permisos2']"><a>Settings</a></li>
            <li><a>Logout</a></li>
            <li [routerLinkActive]="['active']"><a>Products</a>
                <ul class='submenu'>
                    <li><a [routerLinkActive]="['active']" [routerLink]="['/permisos3']">Product 1</a></li>
                    <li><a [routerLinkActive]="['active']" [routerLink]="['/permisos2']">Product 2</a></li>
                    <li><a>Product 3</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="collapsible-menu">
        <a data-toggle="collapse" href="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu">
            <i class='expand-icon fa fa-bars fa-2x'></i>
        </a>
        <div class="collapse menu-content" id="collapseMenu">
            <ul class='sidebar-nav'>
                <li><a [routerLinkActive]="['active']" [routerLink]="['/permisos']">Account</a></li>
                <li><a [routerLinkActive]="['active']" [routerLink]="['/permisos2']">Settings</a></li>
                <li><a>Logout</a></li>
                <li [routerLinkActive]="['active']"><a>Products</a>
                    <ul class='submenu'>
                        <li><a [routerLinkActive]="['active']" [routerLink]="['/permisos3']">Product 1</a></li>
                        <li><a [routerLinkActive]="['active']" [routerLink]="['/permisos2']">Product 2</a></li>
                        <li><a>Product 3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>