.btn-clear{
    background: $Charlotte-color;
}

.btn-clear:hover {
    background: $Spray-color;
}

.btn-filter{
    background: $Shakespeare-color;
}

.btn-filter:hover {
    background: $SanMarino-color;
}