/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');
@import "../../../../assets/scss/styles.scss";

.backgroundLogin{
background: linear-gradient($SanMarino-color, $Spray-color); 
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 340px;
margin-top: 10%;
margin-bottom: 10%;
width: 400px;
background-color: $Shakespeare-color !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: $Charlotte-color;
}

.social_icon span:hover{
color: $ClearDay-color;
cursor: pointer;
}

.card-header h3{
color: $ClearDay-color;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: $Charlotte-color;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: $ClearDay-color;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: $Charlotte-color;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: $ClearDay-color;
}

.links{
color: $ClearDay-color;
}

.links a{
margin-left: 4px;
}